set timeout=5
set default=0

menuentry "DionOS Modern Modular Monolithic Kernel v1.0.0" {
    multiboot2 /boot/dionos.bin console=ttyS0 root=/dev/sda1 quiet
    module2 /boot/initramfs.img initramfs
}

menuentry "DionOS (Recovery / Safe Mode)" {
    multiboot2 /boot/dionos.bin console=tty0 single debug
    module2 /boot/initramfs.img initramfs
}
